<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess Who</title>
    <link rel="icon" href="/logo.png" type="image/png">
    <link rel="stylesheet" href= "/login.css">
    <link rel="stylesheet" href="/logo.css">
    <link rel="stylesheet" href="/createAccount.css">
    <link rel="stylesheet" href="/publicView.css">
</head>
<body>
    <dialog class="publicViewContainer" id="publicViewContainer">
        
    </dialog>
    <div class="logo">
        <h1><span class="logoInitial">G</span><span>uess</span><span class="logoInitial">W</span><span>ho</span></h1>
    </div>
    
    <div class="container" >
        
        <form id="loginForm" >
            <div class="loginFields">
                <input type="text" placeholder="Email" class="loginCreds" id="email" required name="email">
            </div>

            <div class="loginFields">
                <input type="password" placeholder="Password" class="loginCreds" id="password" required name="password">
            </div>
            <div class="loginButton">
                <input type="submit" value="Log In" id="loginBtn">
            </div>
        </form>
        <div class="createAccount">
            <button id="openModalBtn">Create Account</button>
        </div>
        
        <dialog id="modal">
            <div  id="closeModalBtn">
                <span>&#10006;</span>
            </div>
            <form id="createAccountForm">
                <div class="accountCreds">
                    <div class="column">
                        <div class="box">
                            <input type="text" placeholder="Firstname" id="createFirstName" required>
                        </div>
                        <div class="box">
                            <input type="text" placeholder="Surname" id="createSurName" required>
                        </div>
                        
                    </div>
                    <div class="box">
                        <input id ="userID"type="text" placeholder="@user_name" required>
                    </div>
                    <div class="box">
                        <input id="createEmail" type="text" placeholder="Email"  required>
                    </div>
                    <div class="box">
                        <input id="createPassword" type="password" placeholder="Password" required >
                    </div>
                    
                    <div class="submit" >
                        <input type="submit" id="submit">
                    </div>
                </div>
            </form>
        </dialog>
        
    </div>
    

    <script src="/login.js"></script>
    <script src="/createAccount.js"></script>
    <script src="/publicView.js"> </script>
    <script>
        if(window.location.pathname.startsWith('/user')){
            displayPublicView('publicViewContainer')
        }
    
    </script>
   
    
    
</body>
</html>