body{
    background-color: rgb(181, 181, 181);
}
.container{
    width: 700px;
    height: 500px;
    background-color: rgb(46,46,46);
    margin: auto;
    margin-top: 50px;
    padding: 4%;
    border-radius: 20px;
}