<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess Who</title>
    <link rel="icon" href="/logo.png" type="image/png">
    <link rel="stylesheet" href="messages.css">
</head>
<body>
    <dialog class="publicViewContainer" id="publicViewContainer"></dialog>
    <dialog id="profile-view-container" >
        <div class="wrapper">
            

        </div>
    </dialog>
    <div class="container">
        <div class="column">
            <div class="left-column" id="left-column">
                <div class="search-person" id="search-person" >
                    <input type="text" placeholder="Search User Name" oninput=showResults(this.value) id="searchPersonInput">
                    <div class="results-container" id="results-container" ></div>
                </div>
                <div class="people-container" id="people-container">
                    
                    
                </div>
                
                <div class="settings-container">
                    <img src="gear-icon.png" alt="gear-icon" id="gear-icon">
                    <div class="settings-menu" id="settings-menu">
                        <div id="profile" class="menu-item">
                            <div>
                                Profile
                            </div>
                        </div>
                        
                        <div id="log-out" class="menu-item">
                            <div>
                                Log Out
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="separation-line"></div>
            <div class="right-column" id="right-column">
                
            </div>
        </div>
    </div>
  
    <script src="socket.io/socket.io.js"></script>
    <script src="./logic/connectSocket.js"></script>
    <script src="./logic/loadConversations.js"></script>
  
    <script src="./logic/searchPerson.js"></script>
    <script src="./logic/openChat.js"></script>
    <script src="./logic/chat.js"></script>
    <script src="./logic/editProfile.js"></script>
    <script src="./logic/settings.js"></script>
    <script>loadConversations()</script>
    

</body>
</html>